@font-face {
    font-family: 'poppins';
    src: url('Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
/* use poppins as default font */
body{
    font-family: poppins !important;
}
:root {
    --pm: #e20d0d;
    --sd: #2a2d48;
}

.color-white{
    color: whitesmoke !important;
}

.color-pm{
    color : var(--pm) !important;
}
.color-sd{
    color : var(--sd)
}

.bg-pm{
    background-color : var(--pm) !important;
}

.bg-sd{
    background-color : var(--sd) !important;
}

.f-mono{
    font-family: monospace;
}