:root {
    --pm: #e20d0d;
    --sd: #2a2c47;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mitr';
    src: url('Mitr-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Poppins, Mitr, sans-serif !important;
}

#landing a span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 35px;
    height: 35px;
    margin-left: -12px;
    border-left: 1px solid var(--sd);
    border-bottom: 1px solid var(--sd);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 1.5s infinite;
    animation: scrollDown 1.5s infinite;
    box-sizing: border-box;
}

.loader-show {
    display: block;
}

.loader-hidden {
    opacity: 0;
    transition: all 250ms linear;
}

.loader-done {
    display: none;
}

.border-score {
    border-right: 4px solid var(--sd);
}

.pointer-on-hover:hover {
    cursor: pointer;
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.w-60 {
    width: 60%;
}

.bg-gray {
    background-color: rgb(234, 234, 234);
}

.bg-lgreen {
    background-color: rgb(114, 199, 48);
}

.rounded-4 {
    border-radius: 20px;
}

@keyframes scrollDown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.btn-danger {
    color: #fff;
    background-color: var(--pm) !important;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open>.dropdown-toggle.btn-danger {
    color: #fff;
    background-color: #b00d0d !important;
}

.line {
    border-width: 3px;
    color: var(--pm);
    opacity: 1;
}


.btn-primary {
    color: #fff;
    background-color: var(--sd) !important;
    border-color: #171515 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #151623 !important;
}

.card a:hover>p,
.card a:hover>h4,
.text-rgb {
    animation: rgb 5.0s infinite ease !important;
}

.sTopic {
    scroll-margin-top: 48px;
}

.shadowdrop {
    box-shadow: 0 3px 10px 0 #1a1d20;
}

.shadowdrop-l {
    box-shadow: 0 3px 10px 0 #afafaf;
}

.del {
    color: #000000;
    text-decoration: none;
}

.del:hover {
    color: var(--pm) !important;
    text-decoration: underline;
}

.bg-dark-on-hover:hover {
    background-color: #1b1d2f !important;
}

.ul-on-hover:hover {
    text-decoration: underline !important;
}

.text-white {
    color: whitesmoke !important;
}

.bg-white {
    background-color: whitesmoke;
}

.nav-link:hover {
    text-decoration: underline;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--sd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 69px;
    height: 69px;
    position: relative;
    border: 7px solid #fff;
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes rgb {
    0% {
        color: red;
    }

    14% {
        color: purple;
    }

    28% {
        color: navy;
    }

    43% {
        color: rgb(2, 174, 174);
    }

    57% {
        color: green;
    }

    71% {
        color: rgb(190, 190, 0);
    }

    86% {
        color: orange;
    }

    100% {
        color: red;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
}

.color-white {
    color: whitesmoke !important;
}

.color-pm {
    color: var(--pm) !important;
}

.color-sd {
    color: var(--sd)
}

.bg-pm {
    background-color: var(--pm) !important;
}

.bg-sd {
    background-color: var(--sd) !important;
}

.f-mono {
    font-family: monospace;
}

#landing a span {
    position: absolute;
    top: 90%;
    left: 50%;
    width: 35px;
    height: 35px;
    margin-left: -12px;
    border-left: 1px solid var(--sd);
    border-bottom: 1px solid var(--sd);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: scrollDown 1.5s infinite;
    animation: scrollDown 1.5s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes scrollDown {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

@keyframes scrollDown {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: rotate(-45deg) translate(-20px, 20px);
        opacity: 0;
    }
}

.fadeIn {
    opacity: 0;
    transform: translate(0, 3vh);
    transition: all 1s;
}

.fadeIn.visible {
    opacity: 1;
    transform: translate(0, 0);
}

.btn-to-sd:hover {
    background: var(--sd);
    color: white;
    transition: 0.2s ease-in-out;
}

.btn-to-pm:hover {
    background: var(--pm);
    color: white;
    transition: 0.2s ease-in-out;
}